@font-face
{
font-family: "Misakigothic";
src: url('https://cdn.leafscape.be/misaki/misaki_gothic_web.woff2')
  format("woff2");
}

body {
  width: 1000px;
  margin: 0 auto;  background-color: #ffebcd;
  background-image: radial-gradient(circle, #c0725b 5px, transparent 5px), radial-gradient(circle, #f59e0b 5px, transparent 5px);
  background-position: 0 0, 15px 30px;
  background-size: 30px 60px;
}

.header {
  background-image: linear-gradient(to right, transparent, rgba(127, 255, 212, 0.5)) ,url(/header.png);
  background-size: cover;
  background-repeat: no-repeat;
  border: rgba(127, 255, 212, 0.5) 2px solid;
  box-sizing: border-box;
  height: 300px;
  width: 1000px;
}

.headermoji {
  font-size: 48px;
  font-family: Misakigothic, sans-serif;
  position: relative;
  top: 247px;
  color: white;
}

.menu {
  background-color: burlywood;
  border: sienna 2px solid;
  box-sizing: border-box;
  display: inline;
  float: left;
  min-width: 200px;
  min-height: 600px;
}

.menutitle {
  text-align: center;
  background-color: sienna;
}

.content {
  background-color: burlywood;
  border: sienna 2px solid;
  box-sizing: border-box;
  display: inline;
  float: right;
  width: 800px;
  min-height: 600px;
}

.sankabutton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: aquamarine;
  text-align: center;
  color: black;
  text-decoration: none;
  border-radius: 8px;
  border: 2px solid #008CBA;
}

.tsudoibaname {
  background-color: slategray;
}

.footer {
  clear: both;
  background-color: burlywood;
  border: sienna 2px solid;
  text-align: center;
  box-sizing: border-box;
}

.footermoji {
  font-size: 10px;
  text-align: center;
}